POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

# ReID Configuration
SIMILARITY_THRESHOLD=0.7
MAX_GALLERY_SIZE=10000
LOG_LEVEL=INFO

# Model Paths
TRANSREID_MODEL_PATH=/app/models/transformer_20.pth
TRANSREID_CONFIG_PATH=/app/models/cfg_transreid.pkl

# GPU Configuration
CUDA_VISIBLE_DEVICES=0

# Weaviate Configuration
WEAVIATE_URL=""
WEAVIATE_API_KEY=""

# MongoDB Configuration
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=password
MONGO_DB_NAME=reid_db
MONGO_COLLECTION_NAME=gallery
MONGO_HOST_URL="mongodb://localhost:27017"

# Encryption Keys
ENC_KEY_BASE64=""
HMAC_KEY_BASE64=""
